* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,li {
  list-style: none;
}

.wrap {
  width: 900px;
  margin: 30px auto 0;
}

.clearfix::after {
  display: block;
  clear: both;
  content: '';
}

#pic-ct {
  position: relative;
}

#pic-ct .item {
  position: absolute;
  width: 280px;
  border: 1px solid #888;
  padding: 5px 0;
  margin: 10px;
  opacity: 1; 
	transition: all .8s;
}

#pic-ct .item img{
  margin: 10px;
  width: 260px;
}

#pic-ct .item .header{
  height: 25px;
    margin: 0 12px;
    border-bottom: 1px solid #DBDBDB;
}
#pic-ct .desp{
  font-size: 12px;
  line-height: 1.8;
  margin: 10px 15px 0;
  color: #777371;
}
.load{
  visibility: hidden;
  height: 20px;
}
.hide{
  display: none;
}